<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421282877229-2lchqmc7hs0qcpf2054l6qse3hvmsifi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421282877229-2lchqmc7hs0qcpf2054l6qse3hvmsifi</string>
	<key>API_KEY</key>
	<string>AIzaSyCYa8FTaJrsO8ZQWVELwYnRWapfsojQ7tU</string>
	<key>GCM_SENDER_ID</key>
	<string>421282877229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LiftOnUp</string>
	<key>PROJECT_ID</key>
	<string>liftonup-b742c</string>
	<key>STORAGE_BUCKET</key>
	<string>liftonup-b742c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421282877229:ios:d2f9389782912e3372cda4</string>
	<key>DATABASE_URL</key>
	<string>https://liftonup-b742c-default-rtdb.firebaseio.com</string>
</dict>
</plist>